html,
body {
  padding: 0;
  margin: 0;
}

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #d87f7d;
  overflow: hidden;
}
.heading {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0 14rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.heading > h1:nth-child(1) {
  color: white;
}

.heading > h1:not(:nth-child(1)) {
  color: #e9afb0;
}
.under-heading {
  margin: 0 14rem;
  font-size: 1rem;
  padding: 0;
  color: white;
}

h1 {
  margin-bottom: 1rem;
}

main {
  display: flex;
  align-items: center;
  margin-left: 14rem;
}

.white-div {
  height: 6rem;
  background-color: #e9afb0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle1 {
  border-bottom: 0.5rem solid transparent;

  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #7a4849;
}

.triangle2 {
  border-bottom: 0.5rem solid transparent;

  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid #7a4849;
}

.black-divs {
  width: 60rem;
  height: 17rem;
  display: grid;
  grid-template-columns: 5rem 1fr 1fr 1fr 5rem;
  margin-top: 4rem;
}

.black-div1 {
  background-color: #373335;
}

.out-box {
  width: 14rem;
  height: 3rem;
  background-color: black;
  margin-bottom: -1.3rem;
  margin-left: 1.3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.out-box:hover {
  margin-bottom: -1.4rem;
  cursor: pointer;
}

.black-div2 {
  background-color: #2f2b2d;
}

.black-div3 {
  background-color: #1f1b1d;
}

.factor {
  color: #c8837e;
  font-size: 1.2rem;
}

.value {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.black > p {
  margin: 0.5rem;
}
.a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.a > div:nth-child(1) {
  padding-top: 6.5rem;
  padding-left: 3rem;
}

.a div p:nth-child(1) {
  margin-bottom: 0.9rem;
}

.a div > p {
  margin: 0;
}
